@import "../../../Css/base";
@import "../../../Css/mixins";
@import "../../../Css/aem_grid";



.product__category {
    @include flex(center, center);
    position: relative;
    z-index: 99;
    bottom: -50px;
    margin: auto;
    background-color: var(--white);
    flex-wrap: wrap;
    gap: 10px;
    width: 75%;
    margin-bottom: 55px;

    .product__category_card {
        flex: 0 1 calc(50% - 0.55em);
        margin-bottom: var(--unnamed-size-20);
        cursor: pointer;

        .product__category_image {
            @include flex(center, center);
            width: 69%;
            height: 200px;
            padding: 10px;
            margin: 0 auto;
            object-fit: contain;
            object-position: 50% 50%;
        }

        .product__category_content {
            position: relative;
            width: 100%;
            bottom: 50px;
            text-align: center;
            background-color: var(--unnamed-color-172026);
            opacity: 0.9;
            color: var(--white);
            padding: var(--unnamed-size-16);
            margin-bottom: -50px;
            border-bottom: 5px solid var(--primary-brand);

            .product__category_title {
                font-size: var(--unnamed-size-14);
                color: var(--rangitoto-2e2e22);
            }

            .product__category_price {
                font-size: var(--unnamed-size-16);
                color: var(--rangitoto-2e2e22);
                letter-spacing: 0.32px;
            }
        }
    }
}


@include desktop {
    .product__category {
        width: 75%;
    }
}

@include tablet {
    .product__category {
        width: 85%;
        bottom: 60px;
        margin-bottom: -45px;

        .product__category_card {
            flex-basis: calc(25% - 0.55em);
        }
    }
}

@media screen and (max-width: 510px) {
    .product__category {
        width: 90%;
        bottom: -70px;
        margin-bottom: 80px;

        .product__category_card {
            flex-basis: calc(99% - 0.55em);

            .product__category_image {
                height: 250px;
            }
        }
    }
}