@import "../../../Css/base";
@import "../../../Css/mixins";
@import "../../../Css/aem_grid";

.empty__cart_wrapper {
    position: relative;
    margin: 25px;
    width: auto;
    height: 60px;    
    .empty__cart_title {
        height: unset;
        font-size: 36px;
        position: absolute;
        top: 50%;
        left: auto;
        transform: translate(0);
    }
}
@include tablet{
    .empty__cart_wrapper {
        height: 300px;
    }
}

