@import "../../Css/base";
@import "../../Css/mixins";
@import "../../Css/aem_grid";

.navbar {
    padding-left: var(--unnamed-size-12);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    margin: auto;
    background-color: var(--primary-brand);

    .navbar__nav {
        @include flex(center, space-between);
        padding: var(--unnamed-size-20) 0px;

        .navbar__nav-hamburger {
            position: relative;
            cursor: pointer;
            border: none;
            filter: invert(1);
            background: none;
        }

        .navbar__nav-logo {
            filter: invert(1);
        }

        .navbar__nav_link {
            display: flex;
            flex-direction: column;
            width: 97%;
            position: absolute;
            top: 0px;
            left: -110%;
            opacity: 1;

            .navbar__btn-close {
                @include flex(center, space-between);
                padding: var(--unnamed-size-20) var(--unnamed-size-16);
                background: var(--gray-l1);

                h2 {
                    color: var(--gray-d2);
                }
            }

            ul {
                position: relative;
                left: 14px;

                li {
                    border-bottom: var(--unnamed-size-1) solid var(--gray-l2);
                    width: 96%;
                    padding: var(--unnamed-size-16) 0;

                    a {
                        font-size: var(--unnamed-size-16);
                        color: var(--gray-d1);
                        text-align: left;
                    }
                }
            }

            label {
                background-color: var(--gray-l1);
                width: 50%;
                padding: var(--unnamed-size-10) 0;
            }

        }

        .active {
            background-color: var(--white);
            height: 100vh;
            width: 100vw;
            left: 0px;
            opacity: 1;
            z-index: 999;
            overflow: hidden;
        }

        .navbar__nav-cart {
            margin-right: var(--unnamed-size-10);
            .cart__count {
                position: relative;
                right: var(--unnamed-size-6);
                bottom: var(--unnamed-size-16);
                font-size: 16px;
                background-color: var(--primary-brand);
                color: var(--white);
            }
        }

    }



}

@include tablet {
    .navbar {
        .navbar__nav {
            @include flex(center, space-around);

            .navbar__nav-hamburger {
                display: none;
            }

            .navbar__nav_link {
                display: block;
                position: relative;
                width: 55%;
                top: 0px;
                left: 0;
                opacity: 1;

                .navbar__btn-close {
                    display: none;
                }

                ul {
                    position: relative;
                    top: 0;
                    width: 90%;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    text-align: center;

                    li {
                        border: none;
                        width: auto;
                        padding: 0;

                        a {
                            color: var(--white);
                        }
                    }

                }
            }
        }
    }
}