$color_bg1: #1B252C;
$main_color1: #172026;
$main_color2: #1B252C;

$color-white: #fff;
$color-gray: #181C24;
$color-grayL1: #214e4e;
$color-grayL2:#B5B7BC;
$color-grayL3: #F3F3F4;
$color-grayL4: #545D63;
$color-grayM1: #91959C;
$color-grayD1: #1D1D1B;
$color-primary: #1F39FF;

// $color-:
$btn_color_bg: #1F39FF;
$btn-color-border: #DFE1E2;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-md-width: 1280px;
$desktop-lg-width: 1440px;
$desktop-xl-width: 1920px;



